# 默认忽略的文件
/shelf/
/workspace.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

*__pycache__
/.quickstart.md
/.demo.md
/.demo.py
/.chromedriver.exe

/.idea
/.venv
/.vscode
/rollcall-bot_CHU-TEST
/XMU-Rollcall-Bot-aiohttp
/XMU-Rollcall-Bot-CLI(v3)
*.json
/TronclassTool-v0.3-TEST
/misc/qrRollcall/
/misc/fuck_tronclass_sign-main/
/misc/CHU-TronClassTool-GUI/
/misc/CHU-TronClassTool-Server/
/cas_login/
/misc/
